@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #131722;
  color: white !important;
}
.ph {
  color: #949cb0;
  position: relative;
}
.bar {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: 949cb0;
}
.neonText {
  color: #fff;
  text-shadow: 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 2.5px #fff,
    0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 2.5px #fff, 0 0 2.5px #fff;
}
.items {
  position: relative;
  overflow: hidden;
}
.overLay {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
.items:hover .overLay {
  top: 0px;
}
.vote {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #24baef;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
}
ul li {
  list-style-type: none;
}
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
.bg {
  background-image: url(../src/Components/about/892168.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h3 {
  font-size: 4em;
  font-weight: 400;
}
.content p {
  font-size: 14px;
}
.a {
  color: #d40242;
}
.neno {
  color: #d40242;
  text-shadow: 0 0 2.5px #d40242, 0 0 2.5px #d40242, 0 0 2.5px #d40242,
    0 0 2.5px #d40242, 0 0 2.5px #d40242, 0 0 2.5px #d40242, 0 0 2.5px #d40242,
    0 0 2.5px #d40242;
}


.text-yellow {
  color: yellow;
  font-size: 14px;
}
